<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bebidas Embedded</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

<div class="container mt-3">
    <h1>Bebidas Embedded</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nombre Bebida</th>
                <th>Grado Alcohol</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
            <tr th:each="bebidaTipo : ${bts}">
                <td th:text="${bebidaTipo.nombre}"></td>
                <td th:text="${bebidaTipo.gradoAlcohol}"></td>

            </tr>
        </tbody>
    </table>

     <!-- Botón para redirigir al formulario de creación -->
     <a th:href="@{/btForm}" class="btn btn-primary">Crear Nuevo Tipo de Bebida</a>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
