<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Entradas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Entrada</th>
                <th>Clientes</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entrada : ${entradas}">
                <td th:text="${entrada.fecha}"></td>
                <td>
                    <li th:each="cliente : ${entrada.clientes}">
                        <span><strong th:text="${'Id Cliente: '}"></strong></span>
                        <span style="margin-left: 5px;" th:text="${cliente.id}"></span><br/>
                        <span style="margin-left: 20px;"><strong th:text="${'Nombre: '}"></strong></span>
                        <span style="margin-left: 5px;" th:text="${cliente.nombre}"></span><br/>
                    </li>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
