<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Habitaciones</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Dotacion</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="habitaciones : ${habitaciones}">
                <td th:text="${habitaciones.habitaciones.numero}"></td>
                <td th:text="${habitaciones.habitaciones.tipohabi.nombre}"></td>
                
                <td>
                    <ul th:if="${habitaciones.habitaciones.dotacion != null}">
                        <li th:each="dotacionItem : ${habitaciones.habitaciones.dotacion}">
                            <span th:text="${dotacionItem}"></span>
                        </li>
                    </ul>
                </td>

                
                
            </tr>
        </tbody>
    </table>

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
