<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFC4</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>RFC4</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Fecha</th>
                <th>Servicio</th>
                <th>Cliente</th>
                
            </tr>
        </thead>
       
        <tbody>
            
            <tr th:each="consumo : ${RFC4}">
                <td th:text="${consumo.consumos.fecha}"></td>
                <td th:text="${consumo.consumos.servicio.nombre}"></td>

                <td>
                    <ul th:if="${consumo.clientes != null}">
                        <li th:each="cliente : ${consumo.clientes}">
                            <span><strong th:text="${'Nombre: '}"></strong></span>
                            <span th:text="${cliente.nombre}"></span><br/>
                            
                        </li>
                    </ul>
                </td>
                
            </tr>
        </tbody>
    
    </table>

    

</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
